@import "tailwindcss";

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #2c1b48;
    padding: 7px 10px;
    font-size: 100%;
    font-weight: 700;
    margin: 10px
}

.nav-links a:hover,
.nav-links a:focus {}

.nav-logo {
    width: 150px
}

.expanded {
    display: unset;
}



@media screen and (min-width: 636px) {
    .nav-links {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links a {


        border: none;

    }

    .hamburger {
        display: none;
    }

}

.container-content {
    min-height: 70vw;
    padding-top: 55px;
    display: flex;
}


.max-width-container {
    @apply max-w-screen-xl flex w-11/12;
}
    

.site-white-top-bar {
    background-color: #fff;
    border-bottom: 5px solid #0073bc;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 75px;
}

.site-white-top-bar a:has(img) {
    margin: 0;
}

.site-white-top-bar a:hover {
    color: #0073bc;
}

.site-white-top-bar a::selection {
    color: ##fff;
    background-color: #0073bc;
}

.site-white-top-bar a:focus {
    color: #fff;
}

.site-white-top-bar .nav-menu-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer-navigation a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.content p {
    margin-top: 0;
}

.content a {
    color: #0073bc
}