@import "tailwindcss";

@theme {
  --color-primary: #0073bc;
  --color-secondary: #2c1b48;
  --color-accent: #ff9776;
  --color-background: #ffffff;
  --default-font-family: 'Poppins';
}

.max-width-container {
  @apply w-[90%] max-w-[1200px] flex mx-auto;
}

/* Heading styles */
h1 {
  @apply text-secondary font-bold text-[40px] my-[10px] font-[var(--default-font-family)] leading-normal;
}

h2, h3 {
  @apply font-bold leading-normal my-[10px];
}