---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Grant from "../../components/Grant.astro";

export async function getStaticPaths() {
    const allGrants = Object.values(
        import.meta.glob("../grants/*.md", { eager: true }),
    );

    const uniqueTags = [
        ...new Set(
            allGrants.map((grant: any) => grant.frontmatter.tags).flat(),
        ),
    ];

    return uniqueTags.map((tag) => {
        const filteredGrants = allGrants.filter((grant: any) =>
            grant.frontmatter.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { grants: filteredGrants },
        };
    });
}

const { tag } = Astro.params;
const { grants } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Grants tagged with {tag}</p>
    <ul>
        {
            grants.map((post: any) => (
                <Grant url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
