---
import BaseLayout from "../layouts/BaseLayout.astro";

import Crumbtrail from "../components/Crumbtrail.astro";
import BlogSearch from "../components/BlogSearch.astro";

const pageTitle = "The winning experience blog";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-col justify-between text-secondary">
        <div class="flex justify-center bg-white text-sm">
            <div class="max-width-container">
                <Crumbtrail />
            </div>
        </div>
        <div class="flex flex-col justify-center bg-[#fff3e8] py-10">
            <div class="max-width-container flex flex-col pb-7">
                <h1 class="mb-7">The winning experience blog</h1>
            </div>
            <div class="max-width-container flex flex-col">
                <BlogSearch />
            </div>
        </div>
    </div>
</BaseLayout>
