---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Lotterywest Grants";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Lotterywest WA awesomely supported grants</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
