---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Lotterywest Grants";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Lotterywest WA awesomely supported grants</h2>
</BaseLayout>
