<style>
    .footer-copyright-and-badges {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: solid 2px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-copyright-text {
    }
    .footer-badges {
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .wla-logo {
        max-height: 50px;
    }
    .csia-logo {
        max-height: 106px;
    }
</style>

<div class="footer-copyright-and-badges">
    <div class="footer-copyright-text">
        All contents copyright © Lotterywest. All rights reserved
    </div>
    <div class="footer-badges">
        <img
            src="https://www.lotterywest.wa.gov.au/++resource++lw.theme/images/WLA logo.png"
            id="WLA-logo"
            alt="WLA logo"
            class="wla-logo"
        />
        <img
            src="https://www.lotterywest.wa.gov.au/++resource++lw.theme/images/CSIA.png"
            id="CSIA-logo"
            alt="CSIA logo"
            class="csia-logo"
        />
    </div>
</div>
