---
import FooterNavigation from "./FooterNavigation.astro";
import FooterContactUs from "./FooterContactUs.astro";
import FooterCopyright from "./FooterCopyright.astro";
---

<footer class="flex w-full bg-primary text-white justify-center">
    <div class="max-width-container flex-col">
        <FooterNavigation />
        <FooterContactUs />
        <FooterCopyright />
    </div>
</footer>
