<div class="nav-links">
    <a href="/">
        <img
            src="https://www.lotterywest.wa.gov.au/++resource++lw.theme/images/icons/lw-logo.svg"
            alt="Lotterywest logo"
            class="nav-logo"
        /></a
    >
    <a href="/aboutus/">About us</a>
    <a href="/games/">Games</a>
    <a href="/results/">Results</a>
    <a href="/membership/">Membership</a>
    <a href="/grants/">Grants</a>
    <a href="/more/">More</a>
</div>
