---
import Social from "./Social.astro";
---

<div class="footer-contact-us">
    <div class="footer-contact-us-text">
        <span class="bold">E:</span>
        hello@lotterywest.wa.gov.au &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="bold">PH:</span>
        133 777<br />
        <br />
        Lotterywest - Corporate<br />
        38 Station Street - Subiaco,<br />
        WA 6008 Australia
    </div>
    <div class="footer-contact-us-social">
        <Social platform="facebook" username="lotterywest" />
        <Social platform="instagram" username="lotterywest" />
        <Social platform="youtube" username="@Lotterywest" />
    </div>

    <style>
        .bold {
            font-weight: bold;
        }
        .footer-contact-us {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top: solid 2px;
            padding-top: 40px;
        }
        .footer-contact-us-text {
            text-align: center;
        }
        .footer-contact-us-social {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 40px;
        }
    </style>
</div>
