---
import FooterNavigation from "./FooterNavigation.astro";
import FooterContactUs from "./FooterContactUs.astro";
import FooterCopyright from "./FooterCopyright.astro";
---

<style>
    footer {
        display: flex;

        width: 100%;
        background: #0073bc;
        color: #fff;
        justify-content: center;
    }
    .footer-container {
        flex-direction: column;
    }
</style>
<footer>
    <div class="max-width-container footer-container">
        <FooterNavigation />
        <FooterContactUs />
        <FooterCopyright />
    </div>
</footer>
