---
const allFooterNavCols = Object.values(
    import.meta.glob("../components/footer-nav-columns/*.md", { eager: true }),
);
---

<div class="flex flex-row justify-between mb-5 mt-5">
    {
        allFooterNavCols.map((footerNavCol: any) => (
            <footerNavCol.Content linkClass="text-white no-underline text-sm" />
        ))
    }
</div>
