---
import Social from "./Social.astro";
---

<div class="flex flex-col justify-center items-center border-t-2 pt-10">
    <div class="text-center">
        <span class="font-bold">E:</span>
        hello@lotterywest.wa.gov.au &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="font-bold">PH:</span>
        133 777<br />
        <br />
        Lotterywest - Corporate<br />
        38 Station Street - Subiaco,<br />
        WA 6008 Australia
    </div>
    <div class="flex flex-row justify-center items-center gap-5 m-10">
        <Social platform="facebook" username="lotterywest" />
        <Social platform="instagram" username="lotterywest" />
        <Social platform="youtube" username="@Lotterywest" />
    </div>
</div>
