<div class="w-full top-20 left-12 m-0 flex">
    <a class="w-[150px]" href="/">
        <img
            src="https://www.lotterywest.wa.gov.au/++resource++lw.theme/images/icons/lw-logo.svg"
            alt="Lotterywest logo"
        /></a
    >
    <div
        class="block text-center py-[7px] px-[10px] no-underline text-[#2c1b48] font-bold m-[10px] flex w-full justify-between items-center"
    >
        <a
            href="/placeholdergrants/"
            class="border-0 block text-center py-[7px] px-[10px] no-underline text-[#2c1b48] font-bold m-[10px] flex w-full justify-between items-center"
            >About us</a
        >
        <a
            href="/grants/"
            class="block text-center py-[7px] px-[10px] no-underline text-[#2c1b48] font-bold m-[10px] flex w-full justify-between items-center"
            >Games</a
        >
        <a
            href="
            grants
            "
            class="block text-center py-[7px] px-[10px] no-underline text-[#2c1b48] font-bold m-[10px] flex w-full justify-between items-center"
            >Results</a
        >
        <a
            href="
            grants
            "
            class="block text-center py-[7px] px-[10px] no-underline text-[#2c1b48] font-bold m-[10px] flex w-full justify-between items-center"
            >Membership</a
        >
        <a
            href="
            grants
            "
            class="block text-center py-[7px] px-[10px] no-underline text-[#2c1b48] font-bold m-[10px] flex w-full justify-between items-center"
            >Grants</a
        >
        <a href="
            grants
            " class="block"></a>
    </div>
</div>
