<div class="nav-links">
    <a class="nav-logo" href="/">
        <img
            src="https://www.lotterywest.wa.gov.au/++resource++lw.theme/images/icons/lw-logo.svg"
            alt="Lotterywest logo"
        /></a
    >
    <div class="nav-menu-links">
        <a href="/grants/">About us</a>
        <a href="/grants/">Games</a>
        <a href="/grants/">Results</a>
        <a href="/grants/">Membership</a>
        <a href="/grants/">Grants</a>
        <a href="/grants/">More</a>
    </div>
</div>
