---
import Button from "./Button.astro";
import SearchGlass from "./SearchGlass.astro";
---

<div class="flex">
    <Button label="Login" url="https://play.lotterywest.wa.gov.au/login" />
    <Button
        label="Sign Up"
        url="https://play.lotterywest.wa.gov.au/login?page=sign-up"
        mode="dark"
    />
    <SearchGlass />
</div>
