<nav class="flex items-center gap-x-6">
    <a href="/placeholdergrants/" class="no-underline text-secondary hover:text-primary py-2 text-sm font-medium">About us</a>
    <a href="/games/" class="no-underline text-secondary hover:text-primary py-2 text-sm font-medium">Games</a>
    <a href="/results/" class="no-underline text-secondary hover:text-primary py-2 text-sm font-medium">Results</a>
    <a href="/membership/" class="no-underline text-secondary hover:text-primary py-2 text-sm font-medium">Membership</a>
    <a href="/grants/" class="no-underline text-secondary hover:text-primary py-2 text-sm font-medium">Grants</a>
    <a href="/more/" class="no-underline text-secondary hover:text-primary py-2 text-sm font-medium">More</a>
</nav>
