<nav class="flex items-center gap-x-4 py-4">
    <a
        href="/blog/"
        class="text-secondary font-bold text-sm no-underline w-full py-2.5 pr-5 pl-[30px] relative flex justify-center items-center h-full transition-all duration-500 hover:text-primary md:text-lg lg:text-base lg:border-none lg:px-2.5 lg:py-[7px] whitespace-nowrap"
    >
        <span
            class="absolute w-0 h-0 border-[5px] border-transparent border-l-white top-4 left-[15px] lg:hidden"
        ></span>
        About us
    </a>
    <a
        href="/games/"
        class="text-secondary font-bold text-sm no-underline w-full py-2.5 pr-5 pl-[30px] relative flex justify-center items-center h-full transition-all duration-500 hover:text-primary md:text-lg lg:text-base lg:border-none lg:px-2.5 lg:py-[7px] whitespace-nowrap"
    >
        <span
            class="absolute w-0 h-0 border-[5px] border-transparent border-l-white top-4 left-[15px] lg:hidden"
        ></span>
        Games
    </a>
    <a
        href="/results/"
        class="text-secondary font-bold text-sm no-underline w-full py-2.5 pr-5 pl-[30px] relative flex justify-center items-center h-full transition-all duration-500 hover:text-primary md:text-lg lg:text-base lg:border-none lg:px-2.5 lg:py-[7px] whitespace-nowrap"
    >
        <span
            class="absolute w-0 h-0 border-[5px] border-transparent border-l-white top-4 left-[15px] lg:hidden"
        ></span>
        Results
    </a>
    <a
        href="/membership/"
        class="text-secondary font-bold text-sm no-underline w-full py-2.5 pr-5 pl-[30px] relative flex justify-center items-center h-full transition-all duration-500 hover:text-primary md:text-lg lg:text-base lg:border-none lg:px-2.5 lg:py-[7px] whitespace-nowrap"
    >
        <span
            class="absolute w-0 h-0 border-[5px] border-transparent border-l-white top-4 left-[15px] lg:hidden"
        ></span>
        Membership
    </a>
    <a
        href="/grants/"
        class="text-secondary font-bold text-sm no-underline w-full py-2.5 pr-5 pl-[30px] relative flex justify-center items-center h-full transition-all duration-500 hover:text-primary md:text-lg lg:text-base lg:border-none lg:px-2.5 lg:py-[7px] whitespace-nowrap"
    >
        <span
            class="absolute w-0 h-0 border-[5px] border-transparent border-l-white top-4 left-[15px] lg:hidden"
        ></span>
        Grants
    </a>
    <a
        href="/more/"
        class="text-secondary font-bold text-sm no-underline w-full py-2.5 pr-5 pl-[30px] relative flex justify-center items-center h-full transition-all duration-500 hover:text-primary md:text-lg lg:text-base lg:border-none lg:px-2.5 lg:py-[7px] whitespace-nowrap"
    >
        <span
            class="absolute w-0 h-0 border-[5px] border-transparent border-l-white top-4 left-[15px] lg:hidden"
        ></span>
        More
    </a>
</nav>
