---
import { Icon } from "astro-icon/components";
---

<div class="search-glass">
    <Icon class="search-glass-icon" name="glass" />
</div>

<style>
    .search-glass {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-glass-icon {
        color: #0073bc;

        width: 30px;
        height: 30px;
        justify-content: center;
        justify-self: center;
        display: flex;
        align-items: center;
    }
</style>
