---

---

<div class="bg-[#0073bc] flex p-1 text-[0.8em] justify-center">
    <div class="max-width-container justify-end">
        <a
            href="https://play.lotterywest.wa.gov.au/login?page=upgrade-prs"
            class="text-white"
        >
            Got a Player's Card? Upgrade Now.
        </a>
    </div>
</div>
