---

---

<div class="site-blue-top-bar">
    <div class="max-width-container">
        <a href="https://play.lotterywest.wa.gov.au/login?page=upgrade-prs"
            >Got a Player's Card? Upgrade Now.</a
        >
    </div>
</div>

<style>
    .site-blue-top-bar {
        background-color: #0073bc;
        display: flex;
        padding: 5px;
        font-size: 0.8em;
        justify-content: center;
    }

    .site-blue-top-bar div {
        justify-content: flex-end;
    }

    .site-blue-top-bar a {
        color: white;
    }
</style>
