---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import NavigationInputs from "./NavigationInputs.astro";
---

<div
    class="bg-white border-b-5 border-color-primary flex-grow flex justify-center h-18"
>
    <div class="max-width-container">
        <Hamburger />
        <Navigation />
        <NavigationInputs />
    </div>
</div>
