---

---

<div class="bg-primary flex py-[9px] ">
    <div class="max-width-container justify-end ">
        <a
            href="https://play.lotterywest.wa.gov.au/login?page=upgrade-prs"
            class=" text-xs text-white underline"
        >
            Got a Player’s Card? Upgrade Now.
        </a>
    </div>
</div>
