---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import NavigationInputs from "./NavigationInputs.astro";
---

<div class="site-white-top-bar">
    <div class="max-width-container ">
        <Hamburger />
        <Navigation />
        <NavigationInputs />
    </div>
</div>
