---
const { platform, username } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="social-container">
    <a
        href={`http://www.${platform}.com/${username}`}
        class="icon icon-round-white"
    >
        <Icon class="social-logo" name={platform} />
    </a>
</div>

<style>
    .icon-round-white {
        background-color: white;
        border-radius: 100%;
        display: flex;
    }

    .social-logo {
        color: #0073bc;
        width: 50px;
        height: 50px;
        padding: 10px;
        justify-content: center;
        justify-self: center;
        display: flex;
        align-items: center;
    }
</style>
