---
const { platform, username } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="social-container">
    <a
        href={`http://www.${platform}.com/${username}`}
        class="bg-white rounded-full flex"
    >
        <Icon
            class="text-primary w-[50px] h-[50px] p-2.5 flex justify-center items-center"
            name={platform}
        />
    </a>
</div>
