---
import Crumbtrail from "../components/Crumbtrail.astro";
const { frontmatter } = Astro.props;
---

<div class="flex flex-col justify-between text-secondary">
    <div class="flex justify-center bg-white text-sm">
        <div class="max-width-container">
            <Crumbtrail />
        </div>
    </div>
    <div class="flex justify-center bg-lightyellow py-10">
        <div class="max-width-container flex flex-col bg-white p-10">
            <h1 class="mb-7">{frontmatter.title}</h1>
            <slot />
            {
                frontmatter.image && frontmatter.image.url && (
                    <img
                        src={frontmatter.image.url}
                        alt={frontmatter.image.alt}
                        class="w-full"
                    />
                )
            }
        </div>
    </div>
</div>
