---
import BaseLayout from "./BaseLayout.astro";

import Crumbtrail from "../components/Crumbtrail.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="flex flex-col justify-between text-secondary">
        <div class="flex justify-center bg-white text-sm">
            <div class="max-width-container">
                <Crumbtrail />
            </div>
        </div>
        <div class="flex justify-center bg-lightyellow py-10">
            <div class="max-width-container flex flex-col bg-white p-10">
                <h1 class="mb-7">{frontmatter.title}</h1>
                <slot />
            </div>
        </div>
    </div>
</BaseLayout>
